<footer class="page-footer font-small blue pt-4">
  <div class="container">
    <!-- Logo Section -->
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <img src="path/to/your/logo.png" alt="FoodDeck Logo" height="50"> <!-- Update the path to your logo -->
      </div>
    </div>

    <!-- Links Section -->
    <div class="row">
      <div class="col-md-3">
        <h5 class="text-uppercase">Categories</h5>
        <ul class="list-unstyled">
          <li><a href="/categories/farm-fresh">Farm Fresh</a></li>
          <li><a href="/categories/dry-groceries">Dry Groceries</a></li>
          <li><a href="/categories/beverages">Beverages</a></li>
          <li><a href="/categories/snacks">Snacks</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5 class="text-uppercase">About Us</h5>
        <ul class="list-unstyled">
          <li><a href="/about">Our Story</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/careers">Careers</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5 class="text-uppercase">Support</h5>
        <ul class="list-unstyled">
          <li><a href="/help">Help Center</a></li>
          <li><a href="/returns">Returns</a></li>
          <li><a href="/shipping">Shipping Information</a></li>
          <li><a href="/terms">Terms of Service</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
          <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
          <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
          <li><a href="https://linkedin.com" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    © 2024 FoodDeck. All Rights Reserved.
  </div>
</footer>
