<footer class="page-footer font-small bg-white shadow-sm pt-4 mt-5">
  <div class="container text-center text-md-left">
    <div class="row">

      <!-- Column 1: About Us -->
      <div class="col-md-4">
        <h5 class="text-uppercase text-success">About Us</h5>
        <p>FoodDeck provides fresh and quality groceries directly to your door, making shopping convenient and easy.</p>
      </div>

      <!-- Column 2: Contact -->
      <div class="col-md-4">
        <h5 class="text-uppercase text-success">Contact</h5>
        <ul class="list-unstyled">
          <li>Email: support@fooddeck.com</li>
          <li>Phone: +123 456 7890</li>
        </ul>
      </div>

      <!-- Column 3: Follow Us -->
      <div class="col-md-4">
        <h5 class="text-uppercase text-success">Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark">Facebook</a></li>
          <li><a href="#" class="text-dark">Twitter</a></li>
          <li><a href="#" class="text-dark">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center py-3 text-secondary">© 2024 FoodDeck. All rights reserved.</div>
</footer>

