<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <a class="navbar-brand text-success" href="/">FoodDeck</a>
  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/payment">Payment</a>
      </li>
    </ul>
  </div>
</nav>
