<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Adedoyinbeaconofhopefoundation </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/animated-headline.css">
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/nice-select.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<style>
	    .hero-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:50px 50px 50px 50px;
      background-color: #f8f8f8; /* Peach #ffdab9 background */
      height:450px;
    }

    .hero-text {
      flex: 1;
      padding-right: 30px;
    }

    .hero-text h2 {
      
      color: green;
    }

    .hero-text p {
      font-size: 1.2rem;
      color: #333;
      margin-top: 15px;
      line-height: 1.6;
    }

    .hero-image {
      flex: 1;
    }

    .hero-image img {
      max-width: 100%;
      height: auto;
    }

    /* Responsive Styling for Mobile */
    @media screen and (max-width: 768px) {
      .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
      }

      .hero-text {
        padding-right: 0;
      }

      .hero-text h1 {
        font-size: 2rem; /* Shrink font size on mobile */
      }

      .hero-text p {
        font-size: 1rem; /* Shrink font size on mobile */
      }

      .hero-image {
        margin-bottom: 20px;
      }
    }
	</style>
</head>
<body>

  <!-- Navbar Partial -->
  <%- include("partials/navbar") %>

  <!-- Main Content -->
  <main>
    <%- body %>
  </main>

  <!-- Footer Partial -->
  <%- include("partials/footer") %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  
</body>
</html>
