 


        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">FoodDeck</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                
                <li class="breadcrumb-item active text-white">Return Policy</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


<section style="margin-top:50px;padding:50px">
  <div>
    <h2 style="color: #2D7B30;">Return & Refund Policy</h2>
    <p>Thanks for shopping with FoodDeck! We want you to be happy with your purchases, so we offer refunds for both perishable and non-perishable items within six (6) hours of delivery. Please read this guide to learn more about our refund policy. Note that once you've paid for food items, you cannot cancel your order on the day of delivery. Refunds will be processed through either your FoodDeck wallet or your bank account, unless stated otherwise in our policy.</p>
  </div>

  <div>
    <h2 style="color: #2D7B30;">Guidelines for Refund</h2>
    <p>If we are unable to provide a food item you ordered at the requested time and your order is less than ₦5,000, we will refund the amount to your FoodDeck wallet. You can use this refund to buy other items immediately or later. For orders above ₦5,000, refunds can go to your FoodDeck wallet or your bank account, whichever you prefer. If the food item delivered is inadequate, the refund will be issued to your FoodDeck wallet only.</p>
    <p><strong>Note:</strong> All returns and refunds are evaluated on a case-by-case basis, considering the availability of the item, logistics, and reasonable grounds.</p>
  </div>

  <div>
    <h2 style="color: #2D7B30;">Eligibility for Refund</h2>
    <p><strong>Perishable Food Items:</strong> Our refund policy covers fresh products, including tomatoes, peppers, meat, fish, and fruits and vegetables. If you are unsatisfied with the quality of these items, you may request a refund within six (6) hours of receiving your delivery. Complaints must be made on the delivery day, with picture or video evidence provided.</p>
    <p><strong>Non-Perishable Food Items:</strong> Our refund policy also applies to items like grains, roots, tubers, and spices. To return these items, a complaint must be lodged within six (6) hours of delivery, and you have up to 72 hours from delivery to initiate the return process. Visual evidence may be required to ensure smooth handling.</p>
  </div>

  <div>
    <h2 style="color: #2D7B30;">Exempted Food Items for Return/Refund</h2>
    <p>FoodDeck will not accept any returns or issue refunds for any food items, whether perishable or non-perishable, unless a valid complaint is filed within 6 hours of receipt and confirmed by FoodDeck.</p>
  </div>

  <div>
    <h2 style="color: #2D7B30;">Delayed Refunds</h2>
    <p>Once your refund is confirmed by FoodDeck, please check your FoodDeck wallet or bank account for processing. If sent to your bank account, please allow some time for the refund to be officially posted by your bank. If you have not received your refund, contact us at info@fooddeck.com.ng or call +2349123907060 for assistance.</p>
  </div>

  <div>
    <h2 style="color: #2D7B30;">Cost of Transportation for Returns</h2>
    <p>If food items are defective or if a valid complaint is registered, FoodDeck will cover the transportation cost for the return. However, if a customer changes or cancels an initial order, they are responsible for the transportation cost.</p>
  </div>
</section>


